# Firebase Configuration for Minarul Fashion House
VITE_FIREBASE_API_KEY=AIzaSyCiPzVNHTK6y-K_GLgnH8JxgdGvUQ40zU4
VITE_FIREBASE_AUTH_DOMAIN=minarulfashion.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=minarulfashion
VITE_FIREBASE_STORAGE_BUCKET=minarulfashion.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=972684038355
VITE_FIREBASE_APP_ID=1:972684038355:web:ab21c1b428c63006144426
VITE_FIREBASE_MEASUREMENT_ID=G-G2VV7ZL9DS
